[mysqld]
# do not bind to 0.0.0.0 as it will break wsrep
bind-address={{getv "/self/container/primary_ip"}}
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_node_name = {{getv "/self/container/name"}}
wsrep_cluster_name="{{getv "/self/stack/name"}}"

# SST method
wsrep_sst_method=xtrabackup-v2

# In order for Galera to work correctly binlog format should be ROW
binlog_format=ROW

# MyISAM storage engine has only experimental support
default_storage_engine=InnoDB

# This changes how InnoDB autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode=2

# User supplied configs
{{if exists "/self/service/metadata/mysqld"}}
{{getv "/self/service/metadata/mysqld"}}
{{end}}
